# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\a2z\OneDrive - HANSRAJ COLLEGE\Desktop\Class materials\Python Project\old_Pi_Method\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
